/* ******************** "RESET" ************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    
}

a, li {
    text-decoration: none;
    
}

/* ***************************************************** */

/* PALETA DE COLORES */
:root {
    --blanco: #fcfcf7;
    --azul: #6266f5;
    --verde_claro: #67d7e7;
    --rojo: #ff5a82;
    --celeste: #4a85fa;
    --gris: #2c2c2c;
    --negro: #1b1b1b;
}

/* ***************************************************** */

body {
    background-color: var(--blanco);

}

/*CSS FORMULARIO*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-evenly;

    border:1px ;
    border-radius:10% 10% 10% 10%;

    font-size: 25px;
    border-style: solid;
    border-color: #1b1b1b;
    padding: 2vw;
    margin: 10vh;
    width: fit-content;

}
h1{
    color: #393c80;
    font-size: 40px;
}
input{
    width: 100%;
    height: 30px;
}
#ingresar{
    margin: 1vh;
    padding: 2vh;
    font-size: 20px;
    background-color: #393c80;
    color: white;
    border-radius: 50% 50% 50% 50%;
    border: none;
}
#registrarse{
    font-size: 15px;
}
input:hover{
    border-color: #4a85fa;
}
#ingresar:hover{
    color: #1b1b1b;
}
@media screen and (max-width:600px) {
    main{
        flex-direction: column;
        margin-top: 3vh;
    }
    form{
        margin-top: 1vh;
        
    }
}