/* ******************** "RESET" ************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;

}

a, li {
    text-decoration: none;

}

/* ***************************************************** */

/* PALETA DE COLORES */
:root {
    --blanco: #fcfcf7;
    --blanco2: rgb(226, 234, 240);
    --azul: #6266f5;
    --verde_claro: #67d7e7;
    --rojo: #ff5a82;
    --celeste: #4a85fa;
    --gris: #1a202c;
    --negro: #1b1b1b;
}

/* ***************************************************** */

body {
    background: var(--blanco2); 
    height: 100%;
    font-family: "Euclid Circular A", "Poppins";
}

/* ---------------------------------- */
/* ------ MENÚ DE NAVEGACIÓN -------- */
/* ---------------------------------- */

/* -------- MENÚ DESPLEGABLE -------- */
/* ---------------------------------- */

.menuNav {
    background-color: var(--gris);
    color: var(--blanco);
    /* tamaño del navbar */
    height: 90px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    /* navbar sticky! */
    position: sticky;
    top: 0;
    z-index: 101;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.navbarLinks {
    height: 100%;
    transition: transform 0.5s;
    display: flex;
}

/* flecha y rotación en el navbar */
.navbarItem {
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.navbarItem:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --transform: rotate(0); 
}
/* --------------------------------- */

.navbarLink {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--blanco);
    padding: 0 30px;
}

.navbarLink:hover {
    background-color: var(--celeste);
}

.navbarFlecha {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.navbarDesplegable {
    display: flex;
    flex-direction: column;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: var(--negro);
}

.navbarLink--inside {
    padding: 30px 100px 30px 20px;
}

.navbarLink--inside:hover {
    background-color: var(--celeste);
}

/* Tamaño del logo en el navbar */
.navbarLogo img {
    width: 140px;
    height: auto;
}

/* Menú hamburguesa */
.navbarHambur {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.navbarImg {
    display: block;
    width: 36px;
}


/* ------------- BOTONES ------------ */
/* ---------------------------------- */

.sesiones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

/* Botón Inicio de Sesión */
.btn1 {
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    background: var(--blanco);
    border: 2px solid var(--blanco);
}

.btn1 a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--negro);
}

.btn1:hover {
    background: var(--celeste);
    border: 2px solid var(--celeste);
}

.btn1 a:hover {
    color: var(--blanco);

}

/* Botón de creación de cuenta */
.btn2 {
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    background: var(--rojo);
    border: 2px solid var(--rojo);
}

.btn2 a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--blanco);
}

.btn2:hover {
    opacity: .7;
}

.btn2 a:hover {
    color: var(--blanco1);    
}

/*
página con muestras de botones para desarrollar:
https://ovdivi.com/10-botones-creativos-con-increibles-efectos-hover-para-tus-sitios-web-creados-con-divi/
*/


/* ******************* FOOTER *************** */
/* ****************************************** */

footer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 0;
    color: var(--blanco);
    margin-top: -60px;
}

.foorteFondo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 99;
}

.redesSociales {
    gap: 25px;
}

.redesSociales a {
    color: var(--blanco);
    font-size: 27px; 
    /* tamaño de los iconos en footer */
}

.navegacionFooter {
    gap: 15px;
    font-size: 17px;
    z-index: 99;
}

.navegacionFooter li a {
    color: var(--blanco);
}

.copyright {
    font-size: 12px;
    margin: 0;
    z-index: 99;
}

.svgFooter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(3) scaleX(2.25);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
    
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: -110px;
}

/* *********************************************** */
/* ****************** RESPONSIVE ***************** */
/* *********************************************** */



@media (max-width: 768px) {
    /* -------------- NAVBAR RESPONSIVE -------------- */
    

    
    /* -------------- FOOTER RESPONSIVE -------------- */
    footer {
        margin-top: 40px;
    }
    
    .footerFondo {
        margin-top: -100px;    
    }
    .navegacionFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

