/* ******************** "RESET" ************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

/* ***************************************************** */

/* PALETA DE COLORES */
:root {
    --blanco: #fcfcf7;
    --azul: #6266f5;
    --verde_claro: #67d7e7;
    --rojo: #ff5a82;
    --celeste: #4a85fa;
    --gris: #2c2c2c;
    --negro: #1b1b1b;
}

/* ***************************************************** */

body {
    background-color: var(--blanco);
     
}

/* ---------------------------------- */
/* -------- HEADER Y NAV ------------ */
/* ---------------------------------- */

header {
    border: 3px solid var(negro);
    background-color: var(--gris);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 180px;
    height: auto;
    margin: 0 0 0 50px;
    justify-content: flex-start;
}

.titulo_logo {
    display: flex;
    justify-content: space-between;
}


nav > ul {
    font-family: "Montserrat", sans-serif;
    
}

/* -------- MENÚ DESPLEGABLE -------- */
/* ---------------------------------- */

